//colors
$orange: #e45028;
$yellow: #f9b43b;
$black : #2f3234;
$red   : #e35028;


@import "../layout/layout.scss";
@import "../font/fonts.scss";



//blocks
@import "../blocks/hero.scss";
@import "../blocks/header.scss";
@import "../blocks/nav.scss";
@import "../blocks/btn.scss";
@import "../blocks/title.scss";
@import "../blocks/best.scss";
@import "../blocks/reviews.scss";
@import "../blocks/form.scss";
