@charset "UTF-8";
html {
  font-size: 16px;
}

@media (max-width: 760px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  position: relative;
  color: #2f3234;
}

.section {
  height: 100%;
  min-height: 650px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--without-align {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

@media (max-width: 760px) {
  .container {
    width: 95%;
  }
}

.maincontent {
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../font/gener/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../font/gener/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/gener/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/gener/ubuntu-medium-webfont.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/gener/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.hero {
  background: url("../img/video-bg1.png") center center/cover no-repeat;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero__content {
    padding: 0 5%;
  }
}

.hero__desc {
  font-family: 'Lifehack-Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 4.0625rem;
  color: #fff;
  line-height: 0.9em;
}

@media (max-width: 760px) {
  .hero__desc {
    font-size: 3.375rem;
  }
}

.hero__сontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10%;
}

.hero__right,
.hero__desc__left {
  width: 50%;
}

@media (max-width: 760px) {
  .hero__right,
  .hero__desc__left {
    width: 100%;
  }
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2.5rem;
}

@media (max-width: 760px) {
  .hero__right {
    padding-top: 0;
  }
}

.hero__picture {
  margin-right: 0.625rem;
}

.hero__burger-img {
  max-width: 100%;
  max-height: 100%;
}

.down-arrow__icon {
  fill: #fff;
  width: 1.875rem;
  height: 1.25rem;
}

.down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.75rem;
}

.header__buttons {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

@media (max-width: 760px) {
  .header__menu {
    display: none;
  }
}

.btn--red {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
}

.nav {
  margin-right: 0.9375rem;
}

@media (max-width: 760px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__link:hover {
  text-decoration: underline;
}

.nav__list .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 760px) {
  .nav__list .nav__list {
    display: none;
  }
}

.nav__list .nav__link {
  color: #fff;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  letter-spacing: 1.1;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__list .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list .nav__item:after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background: #fff;
  margin: 0 0.9375rem;
}

.nav__list .nav__item:last-child::after {
  display: none;
}

.btn {
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  background: #e35028;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
}

.btn:hover {
  background: #c1401e;
}

.title {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #f9b43b;
  font-size: 4.5rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 760px) {
  .title {
    font-size: 3.9375rem;
  }
}

.title--color-black {
  color: black;
  text-align: center;
  padding-top: 7.1875rem;
}

.best {
  background: url(../img/bg_best.png) center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
}

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .best__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.best__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f3234;
}

@media (max-width: 480px) {
  .best__item {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    padding-bottom: 20px;
  }
}

.best__desc {
  text-align: center;
}

@media (max-width: 480px) {
  .best__desc {
    text-align: left;
  }
}

.best__title {
  font-family: 'Lifehack-Medium';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  line-height: 1.1;
}

.best__text {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #2f3234;
  opacity: .8;
}

.best__icon {
  margin-bottom: 1.875rem;
}

@media (max-width: 480px) {
  .best__icon {
    margin-right: 10px;
  }
}

.title--color--black {
  margin-bottom: 5rem;
  color: #000;
}

.best__icon-pic {
  width: 80px;
  height: 80px;
}

.reviews {
  background: #000;
}

.reviews__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
}

@media (max-width: 760px) {
  .reviews__item {
    width: 50%;
    height: 25%;
  }
}

.review {
  position: relative;
  width: 100%;
  height: 100%;
}

.review:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.review:hover .review__hover {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.review:hover:after {
  background: rgba(20, 20, 20, 0.7);
}

.review__photo {
  width: 100%;
  height: 100%;
  background: center center / cover no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.review__hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  padding: 17% 12% 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 10;
}

@media (max-width: 760px) {
  .review__hover {
    font-size: 0.875rem;
    padding: 0 12%;
    text-align: center;
  }
}

.review__title {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 1.5625rem;
}

@media (max-width: 760px) {
  .review__title {
    margin-bottom: 0.875rem;
  }
}

.review__shorttext {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 0.8125rem;
  line-height: 1.8;
}

@media (max-width: 480px) {
  .review__shorttext {
    display: none;
  }
}

.review__view {
  border-radius: 0.3125rem;
  border: #141414;
  background-color: #2f3234;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.review__view:hover {
  background-color: #1f2122;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(8, 8, 8, 0.39);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
  display: none;
}

.popup {
  background: #444;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35%;
  height: 250px;
  z-index: 100;
}

.popup__close {
  font: 16px Helvetica, sans-serif;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.popup__text {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 0.8125rem;
  line-height: 1.8;
  padding: 20px;
}

.order {
  background: url(../img/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.png) 50% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  text-align: center;
}

.order__form {
  margin-left: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 760px) {
  .order__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

.order__form-col {
  width: 45%;
  margin-left: 5%;
}

@media (max-width: 760px) {
  .order__form-col {
    width: 80%;
    margin-left: 0;
  }
}

.order__form-row {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .order__form-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order__form-label {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 1.0625rem;
}

.order__form-input {
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%;
}

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
}

.order__form-input_textarea {
  height: 6.875rem;
  resize: none;
}

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 1.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -624.9375rem;
}

.order__radio-custom {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

.order__radio-fake {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.order__radio-fake:after {
  content: "";
  display: block;
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background: #e35028;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.order__radio-elem:checked + .order__radio-fake:after {
  width: 0.5rem;
  height: 0.5rem;
}

.order__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem;
}

.order__radio_checkbox {
  border-radius: 0rem;
}

.order__radio-fake {
  border-radius: 0rem;
}

.radio-fake--radius {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

.order__form-button {
  font-family: 'Ubuntu';
  font-style: normal;
  margin-right: 1.25rem;
  border: 0;
  background: #e35028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}

.order__form-button_reset {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}

.order-link {
  width: 15%;
  padding: 0.5625rem 0;
  margin-left: 2%;
  min-width: 5.3125rem;
}

.order__checkbox-custom {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.order__checkbox-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  fill: #e35028;
  background: url("../icons/sprite.svg#mak") center no-repeat;
  background-size: 0.75rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.order__radio-elem:checked + .order__checkbox-custom:after {
  width: 0.625rem;
  height: 0.625rem;
}

.team {
  background: url("../img/SBS_1255-X2.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(70, 70, 70, 0.9);
  padding-top: 5% 2% 0 7%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 760px) {
  .team__container {
    left: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title__team {
  margin-bottom: 3.125rem;
}

.team-acco__item {
  margin-bottom: 1rem;
}

.team-acco__item:last-child {
  margin-bottom: 0;
}

.team__acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-acco__pic-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-acco__pic {
  padding-right: 1.25rem;
}

.team-acco__trigger {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 760px) {
  .team-acco__trigger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.team-acco__trigger:before, .team-acco__trigger:after {
  content: "";
  display: block;
  position: absolute;
  left: -1.125rem;
  top: 0.5rem;
  width: 0;
  height: 0;
}

.team-acco__trigger:before {
  border-top: 0.4375rem solid #f9b43b;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0rem solid transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

@media (max-width: 760px) {
  .team-acco__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-acco__item--active {
  display: block;
}

.team-acco__text {
  color: #fff;
}

.team-acco__item--active .team-acco__trigger {
  color: #f9b43b;
}

.team-acco__item--active .team-acco__trigger:before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.team-acco__item--active .team-acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.team-acco__text-title {
  font-family: 'Ubuntu';
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.team-acco__text-content {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.7;
}

#map {
  height: 92%;
  width: 100%;
  position: relative;
}

.footer {
  width: 100%;
  background: #000;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__col {
  width: 50%;
}

@media (max-width: 480px) {
  .footer__col {
    width: 100%;
    text-align: center;
  }
}

.footer__address {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 0.875rem;
}

.footer__phone-number {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-style: normal;
  color: #e35028;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer__phone-icon {
  padding-right: 0.25rem;
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 480px) {
  .footer__col_right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin-left: 0.625rem;
}

.socials__link {
  display: inline-block;
  max-width: 1.4375rem;
  max-height: 1.25rem;
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s;
}

.socials__link-icon {
  fill: #fff;
  width: 1.875rem;
  height: 1.875rem;
  padding-right: 0.625rem;
}

.socials__link:hover {
  opacity: 1;
}

.menu {
  background: url("../img/photo-1428660386617-8d277e7deaf2.png") 50% no-repeat;
  background-size: cover;
  position: relative;
}

.menu__title {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  top: 10%;
  left: 10%;
}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-acco__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__title_white {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
}

.menu-acco__trigger {
  width: 80px;
  display: block;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.menu-acco__trigger-text {
  color: #fff;
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: -20px;
}

.menu-acco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  -webkit-transition: width .6s;
  transition: width .6s;
}

.menu-acco__item--active .menu-acco__content {
  width: 540px;
}

.menu-acco__item--active .menu-acco__text {
  -webkit-animation: acco-text .8s linear forwards;
          animation: acco-text .8s linear forwards;
}

@-webkit-keyframes acco-text {
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes acco-text {
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-acco__text {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: #fff;
  padding: 3.75rem 1.875rem;
}

.burgers {
  background: #f9b43b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f9b43b), color-stop(51%, #eb8c38), to(#f9b43b));
  background: linear-gradient(to bottom, #f9b43b 20%, #eb8c38 51%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 760px) {
  .slider {
    height: 100%;
  }
}

.slider__arrow {
  position: absolute;
  display: inline-block;
  height: 3.125rem;
  width: 6.25rem;
  background: url("../icons/arrow-scroll.svg") center no-repeat;
}

.slider__arrow-left {
  left: -4.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__arrow-left:hover {
  -webkit-transform: rotate(90deg) scale(1.2);
          transform: rotate(90deg) scale(1.2);
}

@media (max-width: 760px) {
  .slider__arrow-left {
    left: 1.375rem;
  }
}

@media (max-width: 480px) {
  .slider__arrow-left {
    left: 0rem;
    position: absolute;
  }
}

.slider__arrow-right {
  right: -4.5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__arrow-right:hover {
  -webkit-transform: rotate(-90deg) scale(1.2);
          transform: rotate(-90deg) scale(1.2);
}

@media (max-width: 760px) {
  .slider__arrow-right {
    right: 1.375rem;
  }
}

@media (max-width: 480px) {
  .slider__arrow-right {
    right: 0rem;
    position: absolute;
  }
}

.slider__left, .slider__right {
  width: 50%;
}

.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100%;
}

.slider__img {
  max-height: 100%;
  max-width: 100%;
}

.slider__text {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  color: white;
  line-height: 1.5rem;
}

.slider__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider__prise-cost {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #e35028;
  font-size: 4.5rem;
}

.slider__prise-currency {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #e35028;
  font-size: 1.875rem;
}

.slider__prise {
  padding-right: 1.875rem;
}

.slider__btn-order {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
}

.slider__wrap {
  overflow: hidden;
}

@media (max-width: 760px) {
  .slider__wrap {
    height: 80%;
  }
}

.slider__control {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.slider__comp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(227, 80, 40, 0.4);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 9rem;
}

.slider__comp:hover {
  background-color: #e35028;
}

.slider__comp::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../icons/burger.svg") center 0.9375rem no-repeat;
}

.slider__comp-list {
  position: absolute;
  top: 0;
  left: 5.625rem;
  width: 16.875rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.3125rem;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  color: #000;
  opacity: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider__comp-list td:nth-child(2) {
  font-weight: 500;
}

.slider__comp-list tr {
  height: 3.4375rem;
}

.slider__comp-list td {
  padding-left: 1.25rem;
  padding-top: 20px;
}

.slider__comp:hover + .slider__comp-list {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.slider__comp-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.slider__calorie {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../icons/kkal.svg") center 0.9375rem no-repeat;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  opacity: .5;
}

.slider__calorie-text {
  display: block;
}

.slider__calorie-sum {
  font-size: 1.25rem;
  padding-top: 2.5rem;
}

.slider__calorie-unit {
  font-size: 0.875rem;
  padding-top: 0.9375rem;
}

.slider__order-button {
  margin-bottom: 0.625rem;
}

@media (max-width: 992px) {
  .burgers__container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .burgers__container .slider__left,
  .burgers__container .slider__right {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burgers__container .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1.5625rem;
  }
}

@media (max-width: 768px) and (max-width: 760px) {
  .burgers__container .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) and (max-width: 480px) {
  .burgers__container .slider__item {
    padding: 0;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .burgers__container .slider__calorie {
    top: 0;
    right: 0;
    left: auto;
  }
}

@media (max-width: 480px) {
  .burgers__container {
    max-width: 400px;
  }
}

.slider__bth {
  padding-bottom: 30px;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: right .5s;
  transition: right .5s;
  position: relative;
}

@media (max-width: 760px) {
  .slider__list {
    height: 100%;
  }
}

.slider__item {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-menu {
  position: fixed;
  top: 5rem;
  right: 2.8125rem;
  z-index: 3;
}

@media (max-width: 760px) {
  .fixed-menu {
    display: none;
  }
}

@media (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.625rem;
}

.fixed-menu__item.active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  display: block;
  border: 0.0625rem solid transparent;
}

.fixed-menu__link:hover {
  border-color: #fff;
}

.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.humburger {
  width: 1.5625rem;
  cursor: pointer;
  margin-left: 1.875rem;
  margin-right: 1.25rem;
  margin-top: 0.3125rem;
  display: none;
  top: 2.125rem;
  right: 0.9375rem;
  z-index: 100;
}

@media (max-width: 760px) {
  .humburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.humburger__item {
  height: 4px;
  margin-bottom: 0.3125rem;
  border-radius: 0.25rem;
  background-color: #fff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.humburger__item:last-child {
  margin-bottom: 0;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger {
  display: none;
}

@media (max-width: 760px) {
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.video {
  background: url(../img/BG-ideo.png) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-video {
  text-align: center;
  color: black;
}

.player {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.1875rem;
  width: 41.25rem;
  background-color: #3e3e3e;
  position: relative;
}

.player__start {
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  position: absolute;
  top: 5px;
  left: 20px;
  cursor: pointer;
  outline: none;
}

.player__start.paused {
  width: 14px;
  height: 15px;
  border: none;
  border-left: 5px solid #626262;
  border-right: 5px solid #626262;
  top: 10px;
}

.player__playback {
  position: absolute;
  height: 4px;
  width: 446px;
  background: #626262;
  top: 15px;
  left: 50px;
}

.player__playback-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background: #626262;
  border-radius: 50%;
  position: absolute;
  top: -3px;
}

.player__volume {
  cursor: pointer;
  position: absolute;
  top: -4px;
  right: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 10px;
}

.player__volume-img {
  height: 38px;
  width: 38px;
  fill: #626262;
}

.player__volumeline {
  position: absolute;
  height: 4px;
  width: 75px;
  background: #626262;
  top: 15px;
  left: 557px;
}

.player__volumeline-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background: #626262;
  border-radius: 50%;
  position: absolute;
  top: -3px;
}

.burger__menu {
  display: none;
  position: fixed;
  top: 0;
  background: #303234;
  width: 100%;
  height: 100vh;
}

.burger__menu--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.75rem;
}

.burger__item {
  position: relative;
}

.burger__link {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.burger__item:after {
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  display: block;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  position: absolute;
}

.burger__item:last-child .burger__link:after {
  display: none;
}

.burger__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__close {
  color: #fff;
  padding-right: 30px;
  font: 30px Helvetica, sans-serif;
}

.close {
  display: block;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: absolute;
  color: #fff;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */