//colors
$orange: #e45028;
$yellow: #f9b43b;
$black : #2f3234;
$red   : #e35028;

//breakpoints
$tablets: 760px;
$phones : 480px;

@import "../blocks/media.scss";
@import "../layout/layout.scss";
@import "../font/fonts.scss";




//blocks
@import "../blocks/hero.scss";
@import "../blocks/header.scss";
@import "../blocks/nav.scss";
@import "../blocks/btn.scss";
@import "../blocks/title.scss";
@import "../blocks/best.scss";
@import "../blocks/reviews.scss";
@import "../blocks/form.scss";
@import "../blocks/team.scss";
@import "../blocks/footer.scss";
@import "../blocks/social.scss";
@import "../blocks/menu.scss";
@import "../blocks/slider.scss";
@import "../blocks/paginator.scss";
@import "../blocks/hamburger-menu-link.scss";
@import "../blocks/video.scss"



