$tablets: 760px;
$phones: 480px;





@mixin phones {
  @media (max-width: $phones) {
      @content;
      }
  }


.best {
    background: url(../img/bg_best.png) center center / cover no-repeat;
    display   : flex;


    &__list {
    display: flex;
    @include phones {
        flex-direction: column;
      }
}

   &__item {
    flex          : 1;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : #2f3234;
    @include phones {
        flex-direction: initial;
      }
    
}
    &__desc {
    text-align: center;
    @include phones {
        text-align: left;
      }
}

    &__title {
    font-family  : 'Lifehack-Medium';
    font-weight  : normal;
    font-style   : normal;
    font-size    : 1.5rem;
    margin-bottom: 0.625rem;
    line-height  : 1.1;
}
    &__text {
    color      : #908e8c;
    line-height: 1.7;
}
    &__iconS {
    margin-bottom: 13px;

    @include phones {
        margin-right: 10px;
      }
}
}
