$tablets: 760px;
$phones: 480px;





@mixin phones {
  @media (max-width: $phones) {
      @content;
      }
  }


.best {
    background         : url(../img/bg_best.png) center center / cover no-repeat;
    display            : flex;
    text-align         : center;
    display            : flex;
    align-items        : center;
    background-position: center center;


    &__list {
    display: flex;
    @include phones {
        flex-direction: column;
      }
}

   &__item {
    flex          : 1;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : #2f3234;
    @include phones {
        flex-direction: initial;
      }
    
}
    &__desc {
    text-align: center;
    @include phones {
        text-align: left;
      }
}

    &__title {
    font-family  : 'Lifehack-Medium';
    font-weight  : normal;
    font-style   : normal;
    font-size    : 1.5rem;
    margin-bottom: 0.625rem;
    line-height  : 1.1;
}
    &__text {
        font-family: Ubuntu;
        font-weight: 300;
        
        font-size  : 0.875rem;
        line-height: 1.875rem;
        color      : #2f3234;
        opacity    : .8;
}
    &__icon {
        margin-bottom: 1.875rem;

    @include phones {
        margin-right: 10px;
      }
}
}
.title--color--black {
    margin-bottom: rem(80px);
    color        : #000;
  }

