$red   : #e35028;
.btn {
    
    border-radius  : 0.3125rem;
    padding        : 0.625rem 0.9375rem;
    background     : $red;
    text-decoration: none;
    color          : #fff;
    text-transform : uppercase;
    font-size      : 0.8125rem;
    &:hover{
        background: #c1401e;
      }
}
