$red   : #e35028;
.btn {
    
    border-radius  : 5px;
    padding        : 10px 15px;
    background     : $red;
    text-decoration: none;
    color          : #fff;
    text-transform : uppercase;
    font-size      : 13px;
}


   
