.last {
    background: url(../img/map-marker1.png) center center / cover no-repeat;
    
}
.footer {
    position: absolute;

    height    : 4.375rem;
    background: #000;
    bottom    : 0;
    left      : 0;
    right     : 0;
}

.footer__adress {
    display       : flex;
    width         : 50%;
    color         : #fff;
    font-weight   : 300;
    padding-bottom: 0.3125rem;
}

.footer__container {
    display    : flex;
    padding-top: 0.3125rem;
    height     : 3.75rem;
}
.footer__phone {
    color      : #e45028;
    font-weight: bold;
}
  
    .footer__phone-icon {
      margin-right: 0.3125rem;
    }

.socails__item {
  color      : white;
  display    : inline-flex;
  margin-left: 1.25rem;
}


.social__list {
   
    width: 50%
    
}