
$tablets: 760px;
$phones : 480px;
@mixin tablets {
    @media (max-width: $tablets) {
        @content;
        }
    }




@mixin phones {
    @media (max-width: $phones) {
        @content;
        }
    }
    


    .humburger {
        width       : rem(25px);
        cursor      : pointer;
        margin-left : rem(30px);
        margin-right: rem(20px);
        margin-top  : rem(5px);
        display     : none;
        top         : rem(34px);
        right       : rem(15px);
        z-index     : 100;
      
        @include tablets {
          display       : flex;
          flex-direction: column;
        }
        
      
        &__item {
          height          : 4px;
          margin-bottom   : rem(5px);
          border-radius   : rem(4px);
          background-color: #fff;
          transition      : 0.8s;
      
          &:last-child {
            margin-bottom: 0;
          }
        }
       
      }




.header__links {
    
    display: flex;
   
}
.hamburger {
   
    display: none;

@include phones 
@include tablets {
  display: flex;
}
}

