.header {
    
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 12px;
}

.header__buttons {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style : normal;
    display    : flex;
    align-items: center;
}

.hero__container {
    display: flex;
    
}