$tablets: 760px;
$phones: 480px;
@mixin tablets {
  @media (max-width: $tablets) {
      @content;
      }
  }

.header {
    
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-top    : 0.75rem;
   
}

.header__buttons {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style : normal;
    display    : flex;
    align-items: center;
}

.hero__container {
    display: flex;
    
}

.header__menu {
	flex        : 1;
	text-align  : right;
	margin-right: rem(20px);

  @include tablets() {
    display: none;
  }
}