$yellow: #f9b43b;
.hero {
    background: url('../img/video-bg1.png') center center / cover no-repeat;
}

.hero__content {
    display    : flex;
    align-items: center;
}



.hero__desc {
    font-family: 'Lifehack-Medium';
    font-weight: normal;
    font-style : normal;
    font-size  : 65px;
    color      : #fff;
    line-height: 0.9em;
}

.hero__сontainer {
    display: flex;
    flex   : .75;
    
}

.hero__text {
    margin-top: 60px;

}
 .hero__picture {
     margin-right: 10px;
 }
