$tablets: 760px;

@mixin tablets {
    @media (max-width: $tablets) {
        @content;
        }
    }
.nav {
    margin-right: 0.9375rem;
    
    @include tablets {
        display: none;
      }
}

.nav__list {
    display: flex;

.nav__link:hover {
    text-decoration: underline;
    }

    .nav__list {
        display       : flex;
        flex-direction: row;
      
        @include tablets {
          display: none;
        }
        
      }
      .nav__link {
        color          : #fff;
        text-decoration: none;
        font-family    : 'Ubuntu';
        font-weight    : 500;
        font-style     : normal;
        font-size      : rem(13px);
        letter-spacing : 1.1;
        text-transform : uppercase;
        cursor         : pointer;
        
      }
      
      .nav__item {
        display    : flex;
        align-items: center;
        &:after {
          content      : "";
          display      : block;
          width        : rem(4px);
          height       : rem(4px);
          border-radius: 50%;
          background   : #fff;
          margin       : 0 rem(15px);
          }
        &:last-child::after{
          display: none;
          }
        }
    }