.burgers {
  background: #f9b43b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f9b43b), color-stop(51%, #eb8c38), to(#f9b43b));
  background: linear-gradient(to bottom, #f9b43b 20%, #eb8c38 51%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow {
  position: absolute;
  display: inline-block;
  height: 3.125rem;
  width: 6.25rem;
  background: url("../icons/arrow-scroll.svg") center no-repeat;
}

.slider__arrow-left {
  left: -4.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__arrow-left:hover {
  -webkit-transform: rotate(90deg) scale(1.2);
          transform: rotate(90deg) scale(1.2);
}

.slider__arrow-right {
  right: -4.5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__arrow-right:hover {
  -webkit-transform: rotate(-90deg) scale(1.2);
          transform: rotate(-90deg) scale(1.2);
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: -1.25rem;
}

.slider__left, .slider__right {
  width: 50%;
}

.slider__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__img {
  max-width: 100%;
  max-height: 100%;
}

.slider__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__text {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  color: white;
  line-height: 1.5rem;
}

.slider__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider__prise-cost {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #e35028;
  font-size: 4.5rem;
}

.slider__prise-currency {
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  color: #e35028;
  font-size: 1.875rem;
}

.slider__prise {
  padding-right: 30px;
}

.slider__btn-order {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
}

.slider__comp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(227, 80, 40, 0.4);
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 9rem;
}

.slider__comp:hover {
  background-color: #e35028;
}

.slider__comp::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../icons/burger.svg") center 0.9375rem no-repeat;
}

.slider__comp-list {
  position: absolute;
  top: 0;
  left: 5.625rem;
  width: 16.875rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.3125rem;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  color: #000;
  display: none;
  opacity: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider__comp-list td:nth-child(2) {
  font-weight: 500;
}

.slider__comp-list tr {
  height: 3.4375rem;
}

.slider__comp-list td {
  padding-left: 1.25rem;
  padding-top: 20px;
}

.slider__comp:hover + .slider__comp-list {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.slider__comp-icon {
  width: 40px;
  height: 40px;
}

.slider__calorie {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/icons/kkal.svg") center 0.9375rem no-repeat;
  width: 90px;
  height: 90px;
  border-radius: 0.3125rem;
  font-family: 'Gagalin-Regular';
  font-weight: normal;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  opacity: .5;
}

.slider__calorie-text {
  display: block;
}

.slider__calorie-sum {
  font-size: 1.25rem;
  padding-top: 40px;
}

.slider__calorie-unit {
  font-size: 0.875rem;
  padding-top: 15px;
}

.slider__order-button {
  margin-bottom: 0.625rem;
}

@media (max-width: 992px) {
  .burgers__container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .burgers__container .slider__left,
  .burgers__container .slider__right {
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burgers__container .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .burgers__container .slider__calorie {
    top: 0;
    right: 0;
    left: auto;
  }
}

@media (max-width: 480px) {
  .burgers__container {
    max-width: 400px;
  }
}
/*# sourceMappingURL=slider.css.map */