$tablets: 760px;
$phones: 480px;
@mixin tablets {
  @media (max-width: $tablets) {
      @content;
      }
  }




@mixin phones {
  @media (max-width: $phones) {
      @content;
      }
  }



.burgers {
    background     : #f9b43b;
    background     : linear-gradient(to bottom, #f9b43b 20%,#eb8c38 51%,#f9b43b 100%);
    display        : flex;
    justify-content: center;
    align-items    : center;
  }
  .slider {
    align-items  : center;
    align-content: center;
   
    
    @include tablets{
      height: 100%;
      }
    
  
  &__arrow {
    position  : absolute;
    display   : inline-block;
    height    : 3.125rem;
    width     : 6.25rem;
    background: url('../icons/arrow-scroll.svg') center no-repeat;
    
    &-left {
      left      : -4.5rem;
      transform : rotate(90deg);
      transition: .3s;
      &:hover {
        transform: rotate(90deg) scale(1.2);
      }
      @include tablets {
        left: rem(22px);
      }
      @include phones {
        left    : rem(0px);
        position: absolute;
      }
    }
    &-right {
      right     : -4.5rem;
      transform : rotate(-90deg);
      transition: .3s;
      &:hover {
        transform: rotate(-90deg) scale(1.2);
      }
      @include tablets {
        right: rem(22px);
      }
      @include phones {
        right   : rem(0px);
        position: absolute;
      }
    }
  }
  
  &__item {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
    margin-left    : -1.25rem;

  }
  
  &__left,
  &__right {
    width: 50%;
   
}
  
  &__left {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
  }
  
  &__img {
    max-width : 100%;
    max-height: 100%;
  }
  
  
  
  &__text {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style : normal;
    color      : white;
    line-height: 1.5rem;
  }
  
  &__options {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-end;
  }
  
  &__prise-cost {
    font-family: 'Gagalin-Regular';
    font-weight: normal;
    font-style : normal;
    color      : #e35028;
    font-size  : 4.5rem;
  }
  
  &__prise-currency {
    font-family: 'Gagalin-Regular';
    font-weight: normal;
    font-style : normal;
    color      : #e35028;
    font-size  : 1.875rem;
  }

  &__prise {
      padding-right: 1.875rem;
  }

  &__btn-order {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style : normal;
  }
}


.slider__wrap {
  
  overflow: hidden;

  @include tablets{
    height: 80%;
  }
  
}

.slider__control {
  position: relative;
  z-index : 1;
  display : flex;
  cursor  : pointer;
}
.slider__comp {
  position        : absolute;
  top             : 0;
  left            : 0;
  background-color: rgba(#e35028,.4);
  width           : 5.625rem;
  height          : 5.625rem;
  border-radius   : 0.3125rem;
  font-family     : 'Gagalin-Regular';
  font-weight     : normal;
  font-style      : normal;
  font-size       : 0.875rem;
  text-transform  : uppercase;
  color           : white;
  text-align      : center;
  line-height     : 9rem;
  
  &:hover {
    background-color: #e35028;
  }
  
  &::before {
    content   : "";
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    background: url("../icons/burger.svg") center 0.9375rem no-repeat;
  }
}

.slider__comp-list {
  position        : absolute;
  top             : 0;
  left            : 5.625rem;
  width           : 16.875rem;
  background-color: rgba(#fff,.9);
  border-radius   : 0.3125rem;
  font-family     : 'Ubuntu';
  font-style      : normal;
  font-weight     : 300;
  color           : #000;
  
  
  & td:nth-child(2) {
    font-weight: 500;
  }
  
  & tr {
    height: 3.4375rem;
  }
  
  & td {
    padding-left: 1.25rem;
    padding-top : 20px;

  }
  
  opacity         : 0;
  transform-origin: 0 0;
  transform       : scale(0);
  transition      : .2s;
}

.slider__comp:hover + .slider__comp-list {
  display  : block;
  transform: scale(1);
  opacity  : 1;
}
.slider__comp-icon {
    width : 2.5rem;
    height: 2.5rem;
}
.slider__calorie {
  position      : absolute;
  bottom        : 0;
  left          : 0;
  background    : url("../icons/kkal.svg") center 0.9375rem no-repeat;
  width         : 5.625rem;
  height        : 5.625rem;
  border-radius : 0.3125rem;
  font-family   : 'Gagalin-Regular';
  font-weight   : normal;
  font-size     : 0.875rem;
  text-transform: uppercase;
  color         : white;
  text-align    : center;
  opacity       : .5;
}

.slider__calorie-text {
  display: block;
}

.slider__calorie-sum {
  font-size  : 1.25rem;
  padding-top: 2.5rem;
}

.slider__calorie-unit {
  font-size  : 0.875rem;
  padding-top: 0.9375rem;
}

.slider__order-button {
  margin-bottom: 0.625rem;
}

@media (max-width: 992px) {
  .burgers__container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .burgers__container {
    //max-width: 460px;
    
    .slider__left,
    .slider__right {
      width      : auto;
      align-items: center;
    }
    
    .slider__item {
      display    : flex;
      overflow   : hidden;
      flex       : 1;
      margin-left: rem(25px);
    
      @include tablets {
        flex-direction : column;
        align-items    : center;
        height         : 100%;
        justify-content: center;
      }
      @include phones {
        padding    : 0;
        margin-left: 0;
      }
    }

    .slider__calorie {
      top  : 0;
      right: 0;
      left : auto;
    }
  }
}

@media (max-width: 480px) {
  .burgers__container {
    max-width: 400px;
  }
}

.slider__bth {
  padding-bottom: 30px;
}

.slider__list {
  display   : flex;
  transition: right .5s;
  right     : 0;          //чепез js поставить
  position  : relative;

  @include tablets{
    height: 100%;
  }
}


 .slider__item {
 min-width: 100%;
 display  : flex;
 }

// .slider__list {
//   white-space: nowrap;
//   font-size  : 0;
//   position   : absolute;
//   top        : 0;
//   left       : 0;
//   overflow   : hidden;
// }

